<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <table id="list">
        <thead>
            <tr>
                <th>Habit</th>
                <th>Done</th>
                <th>Streak</th>
            </tr>
            <tbody>
                <% habits.forEach(function(h){ %>
                    <tr>
                        <td><a href="/habits/<%= h.id %>"><%= h.title %></a>
                        </td>
                        <td><%= h.done %> </td>
                        <td><%= h.streak %> </td>
                        <td>
                            <form action="/habits/<%= h.id %>?_method=DELETE" id ="delete-form" method="POST">
                            <button type="submit">Remove Habit</button>
                            </form>
                        </td>
                    </tr>
               <% }); %>  
            </tbody>
        </thead>
    </table>
    <a href="/habits/new">Add Habit</a>
</body>
</html>