<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1>Habit: <%= habit.title %> </h1>
    <h3>Description: <%= habit.details %> </h3>
    <h3>Done Today: <%= habit.done ? 'Yes' : 'No' %> </h3>
    <h3>Current Streak: <%= habit.streak %> </h3>
    <form action="/habits/<%= habit.id %>?_method=DELETE" id ="delete-form" method="POST">
        <button type="submit">Remove Habit</button>
    </form>
    <a href="/habits/<%= habit.id %>/edit">Edit Habit</a>
</body>
</html>